name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions: {}

jobs:
  build:
    name: Run
    runs-on: ubuntu-latest
    permissions:
      contents: read
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - run: |
          set -e
          rustup set profile minimal
          rustup install stable
          cargo install --force cargo-make
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
      # - name: vuln
      #   run: cargo make vuln
      - name: lint
        run: cargo make lint
      - name: test
        run: cargo make test
      - name: build
        run: cargo make build
